<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>

  <body>
    <h1 align = "center">Login</h1>
    <form method="post">
      {% csrf_token %}
      {{ LoginForm }}
      <input type="text" name="username" id="username">
      <input type="password" name="password" id= "password">
      <input type="submit" value="Login">
    </form>

  </body>

</html>
