{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align: center">Welcome!</h1>
    {% if user.is_authenticated %}
        <h2 style="text-align: center">Hello {{ user.username }}</h2>
        <h2 style="text-align: center">Go to the calendar <a href="/calendar">here</a>, or <a href="/logout">log out</a></h2>
    {% else %}
        <h2 style="text-align: center"><a href="/account/register">Register</a> or <a href="/login">Login</a> to access the calendar</h2>
    {% endif %}
  </div>
</div>
{% endblock %}