<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>

  <body>
    <h1 style="text-align : center">Login</h1>
    <form method="post" style="text-align: center">
      {% csrf_token %}
      {{ LoginForm.as_p }}
      <input type="submit" value="Login">
    </form>

  </body>

</html>
