{% extends 'cal/base.html' %}

{% block title %}
<a href="../..">Event</a>
{% endblock %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" name="calendar_button" href="{% url 'cal:calendar' %}"> Calendar </a>
  <form action="delete" method="POST"> {% csrf_token %}
    <button type="submit" name="delete_button" class="btn btn-info right"> Delete
  </form>

</div>

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ field.label }} <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ field.label }} <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr><td colspan="2"><button name="submit_button" type="submit" class="btn btn-info right"> Submit </button></td></tr>

  </table>
</form>
{% endblock %}
